<div class="content-wrapper">

    <div class="page-header">
        <h3 class="page-title"> {{'DoctorProfile'| translate}} </h3>

    </div>
    <div class="row dashboardcard">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">


                <div class="card-body">
                    <form [formGroup]="userForm">


                        <div class=" row mt-4">
                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">First Name<span class="text-danger">*</span></label>
                                <input readonly type="text" autocomplete="off" class="form-control" name="FirstName"
                                    formControlName="FirstName" placeholder="First Name"
                                    [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
                                <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                                </div>

                            </div>


                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">Middle Name<span class="text-danger">*</span></label>
                                <input readonly type="text" autocomplete="off" class="form-control" name="MiddleName"
                                    formControlName="MiddleName" placeholder="Middle Name"
                                    [ngClass]="{ 'is-invalid': submitted && f.MiddleName.errors }">
                                <div *ngIf="submitted && f.MiddleName.errors" class="invalid-feedback">
                                    <div *ngIf="f.MiddleName.errors.required">Middle Name is required</div>
                                </div>

                            </div>



                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">Last Name<span class="text-danger">*</span></label>
                                <input readonly type="text" autocomplete="off" class="form-control" name="LastName"
                                    formControlName="LastName" placeholder="Last Name"
                                    [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
                                <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                                    <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                                </div>

                            </div>


                            <div class="col-md-6 form-group">


                                <label for="exampleInputUsername1">Gender<span class="text-danger">*</span></label>
                                <select class="form-control" name="GenderId" formControlName="GenderId"
                                    [ngClass]="{ 'is-invalid': submitted && f.GenderId.errors }">
                                    <option value="" selected="selected">Select</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Transgender</option>
                                </select>
                                <div *ngIf="submitted && f.GenderId.errors" class="invalid-feedback">
                                    <div *ngIf="f.GenderId.errors.required">Gender is required</div>
                                </div>

                            </div>



                        


                            <div class="col-md-6 form-group">


                                <label for="exampleInputUsername1">State<span class="text-danger">*</span></label>
                                <select class="form-control" name="StateId" formControlName="StateId"
                                    [ngClass]="{ 'is-invalid': submitted && f.StateId.errors }" #stateddl
                                    (change)='onStateSelected(stateddl.value)'>
                                    <option value="" selected="selected">Select</option>
                                    <option *ngFor="let objstate of allstatelst" value="{{objstate.stateId}}">
                                        {{objstate.stateName}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.StateId.errors" class="invalid-feedback">
                                    <div *ngIf="f.StateId.errors.required">State is required</div>
                                </div>

                            </div>


                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">District<span class="text-danger">*</span></label>


                                <select class="form-control" name="DistrictId" formControlName="DistrictId"
                                    [ngClass]="{ 'is-invalid': submitted && f.DistrictId.errors }" #districtdll
                                    (change)='onDistrictSelected(districtdll.value)'>
                                    <option value="" selected="selected">Select</option>
                                    <option *ngFor="let objdist of alldistrictlst" value="{{objdist.districtId}}">
                                        {{objdist.districtName}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.DistrictId.errors" class="invalid-feedback">
                                    <div *ngIf="f.DistrictId.errors.required">District is required</div>
                                </div>




                            </div>

                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">City<span class="text-danger">*</span></label>
                                <select class="form-control" name="CityId" formControlName="CityId"
                                    [ngClass]="{ 'is-invalid': submitted && f.CityId.errors }">
                                    <option value="" selected="selected">Select</option>
                                    <option *ngFor="let objcity of allcitylst" value="{{objcity.cityId}}">
                                        {{objcity.cityName}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.CityId.errors" class="invalid-feedback">
                                    <div *ngIf="f.CityId.errors.required">City is required</div>
                                </div>
                            </div>









                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">MR Address<span class="text-danger">*</span></label>
                                <textarea class="form-control" name="MrAddress" formControlName="MrAddress" rows="4"
                                    spellcheck="false" placeholder="MR Address"
                                    [ngClass]="{ 'is-invalid': submitted && f.MrAddress.errors }"></textarea>
                                <div *ngIf="submitted && f.MrAddress.errors" class="invalid-feedback">
                                    <div *ngIf="f.MrAddress.errors.required">MR Address is
                                        required</div>
                                </div>

                            </div>




                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">MR License Number<span
                                        class="text-danger">*</span></label>
                                <input readonly type="text" autocomplete="off" class="form-control" name="MrLicenseNumber"
                                    maxlength="20" formControlName="MrLicenseNumber" rows="4" spellcheck="false"
                                    placeholder="MR License Number"
                                    [ngClass]="{ 'is-invalid': submitted && f.MrLicenseNumber.errors }" />
                                <div *ngIf="submitted && f.MrLicenseNumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.MrLicenseNumber.errors.required">MR License
                                        Number is
                                        required</div>
                                </div>

                            </div>



                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1"> Mobile<span class="text-danger">*</span></label>
                                <input readonly type="text" autocomplete="off" class="form-control" name="Mobile" maxlength="10"
                                    numbersOnly formControlName="Mobile" rows="4" spellcheck="false"
                                    placeholder="Mobile" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" />
                                <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                                    <div *ngIf="f.Mobile.errors.required">Contact Mobile is required</div>
                                    <div *ngIf="f.Mobile.errors.pattern">Enter only number.</div>
                                    <div *ngIf="f.Mobile.errors.minlength">Enter valid number.</div>
                                </div>

                            </div>



                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">DOB</label><br />
                                <label for="exampleInputUsername1">{{mrinfo?.DOB |date:'dd/MM/yyyy'}}</label>

                            </div>
                            

                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">PinCode<span class="text-danger">*</span></label>
                                <input type="text" autocomplete="off" class="form-control" name="PinCode" maxlength="6"
                                    numbersOnly formControlName="PinCode" rows="4" spellcheck="false"
                                    placeholder="Pincode" [ngClass]="{ 'is-invalid': submitted && f.PinCode.errors }" />
                                <div *ngIf="submitted && f.PinCode.errors" class="invalid-feedback">
                                    <div *ngIf="f.PinCode.errors.required">PinCode is required</div>
                                    <div *ngIf="f.PinCode.errors.pattern">Enter only number.</div>
                                    <div *ngIf="f.PinCode.errors.minlength">Enter valid number.</div>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary mr-2" (click)="Save()">Submit</button> <button
                            class="btn btn-light" routerLink="/doctor/doctor">Cancel</button>



                    </form>
                </div>




            </div>
        </div>





    </div>