<div id="dashboard-analytics" class="page-layout simple fullwidth" fxLayout="column">
  <!-- HEADER -->
  <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="secondary-text s-18">home</mat-icon>
        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
        <span class="secondary-text">Dashboard</span>
      </div>
      <div class="h1 mt-16">Ageing</div>
      <!-- <span class="iso">{{url}}</span> -->
    </div> <button mat-raised-button class="save-product-button mat-white-bg" (click)="exportPDF()">
      <span>Download</span>
    </button>
    
  </div>
  <!-- / HEADER -->
  <div class="content">
    <div class="full-width">
      <!-- <button (click)="SendMail(tableauVizElemt)">Send Mail</button> -->
      <!-- <iframe src="http://172.16.10.39:8080/views/AgeingReports/StockDashboard?iframeSizedToWindow=true&:embed=y&CurrencySelection=INR"
        width="99%" height="1000px">
      </iframe> -->
      <div id="tableauViz"></div>
    </div>
  </div>
</div>