<div class="content-wrapper">
       
    <div class="page-header">
  <h3 class="page-title"> Dashboard </h3>
    
    </div>
    <div class="row dashboardcard">
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Hospital<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.HospitalCount}}</h2>
          </div>
        </div>
      </div>
   <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Branch <i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.BranchCount}}</h2>
          </div>
        </div>
      </div>
  <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-dark text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Department<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.DepartmentCount}}</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-success text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Doctor<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.DoctorCount}}</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-warning text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total MR<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.MRCount}}</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-danger text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Appointments<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.AppointmentsCount}}</h2>
         
          </div>
        </div>
      </div>
    </div>

 
  </div>