<div class="content-wrapper">
       
    <div class="page-header">
  <h3 class="page-title"> Dashboard </h3>
    
    </div>
    <div class="row dashboardcard">
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Today Appointments<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.TodayAppointmentsCount}}</h2>
          </div>
        </div>
      </div>
   <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Appointments <i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.TotalAppointmentsCount}}</h2>
          </div>
        </div>
      </div>
  <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-dark text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Prescribed<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.TotalPrescribedCount}}</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-success text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Pending Refund Request<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.TotalPendingRefundRequestCount}}</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-warning text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Approved Refunded<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.TotalApprovedRefundedCount}}</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-danger text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Refunded Reject<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">{{dashboardtab.TotalRefundedRejectCount}}</h2>
         
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
          <h4 class="card-title ">Visit And Sales Statistics</h4>
          <div class="clearfix">Content Are</div>
      
          </div>
        </div>
      </div>
      <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Traffic Sources</h4>
              <div class="clearfix">Content Are</div>
          </div>
        </div>
      </div>
    </div> -->

 
  </div>