<div class="content-wrapper">

    <div class="page-header">
        <h3 class="page-title"> Add Slot </h3>

    </div>
    <div class="row dashboardcard">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">


                <div class="card-body">
                    <form [formGroup]="SlotForm">



                        <div class=" row mt-4">
                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">Slot From Time<span
                                    class="text-danger">*</span></label>
                                <input type="time" autocomplete="off" class="form-control" name="SlotFromTime"
                                    formControlName="SlotFromTime" placeholder="Slot From Time"
                                    [ngClass]="{ 'is-invalid': submitted && f.SlotFromTime.errors }">
                                <div *ngIf="submitted && f.SlotFromTime.errors" class="invalid-feedback">
                                    <div *ngIf="f.SlotFromTime.errors.required">Slot From Time is required</div>
                                </div>

                            </div>


                           



                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">Slot End Time<span
                                    class="text-danger">*</span></label>
                                <input type="time" autocomplete="off" class="form-control" name="SlotEndTime"
                                    formControlName="SlotEndTime" placeholder="Slot End Time"
                                    [ngClass]="{ 'is-invalid': submitted && f.SlotEndTime.errors }">
                                <div *ngIf="submitted && f.SlotEndTime.errors" class="invalid-feedback">
                                    <div *ngIf="f.SlotEndTime.errors.required">Slot End Time is required</div>
                                </div>

                            </div>



                           

                            <div class="col-md-6 form-group mb-1">

                                <div class="checkbox switcher float-left">
                                    <label for="test1">
                                        <span>Active/Inactive</span> <input type="checkbox" id="test1" formControlName="Status">
                                        <span><small></small></span>

                                    </label>
                                </div>
                            </div>



                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary mr-2" (click)="Save()">Submit</button> <button
                        class="btn btn-light" routerLink="/admin/slot">Cancel</button>



                    </form>

                </div>




            </div>
        </div>





    </div>