<div class="content-wrapper">

    <div class="page-header">
        <h3 class="page-title"> Add Dosage </h3>

    </div>
    <div class="row dashboardcard">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">


                <div class="card-body">
                    <form [formGroup]="DosagForm">



                        <div class=" row mt-4">
                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">Dosage Value<span
                                    class="text-danger">*</span></label>
                                <input type="text" autocomplete="off" class="form-control" name="DosageValue"
                                    formControlName="DosageValue" placeholder="Dosage Value"
                                    [ngClass]="{ 'is-invalid': submitted && f.DosageValue.errors }" maxlength="250" Ignoredosagespecialchar>
                                <div *ngIf="submitted && f.DosageValue.errors" class="invalid-feedback">
                                    <div *ngIf="f.DosageValue.errors.required">Dosage Value is required</div>
                                </div>

                            </div>


                           



                            <div class="col-md-6 form-group">
                                <label for="exampleInputUsername1">Dosage Remarks<span
                                        class="text-danger">*</span></label>
                                <textarea class="form-control" name="DosageRemarks" formControlName="DosageRemarks"
                                    rows="4" spellcheck="false"
                                    [ngClass]="{ 'is-invalid': submitted && f.DosageRemarks.errors }" maxlength="500" ></textarea>
                                <div *ngIf="submitted && f.DosageRemarks.errors" class="invalid-feedback">
                                    <div *ngIf="f.DosageRemarks.errors.required">Dosage Remarks is required</div>
                                </div>

                            </div>




                           

                            <div class="col-md-6 form-group mb-1">

                                <div class="checkbox switcher float-left">
                                    <label for="test1">
                                        <span>Active/Inactive</span> <input type="checkbox" id="test1" formControlName="Status">
                                        <span><small></small></span>

                                    </label>
                                </div>
                            </div>



                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary mr-2" (click)="Save()">Submit</button> <button
                        class="btn btn-light" routerLink="/admin/dosage">Cancel</button>



                    </form>

                </div>




            </div>
        </div>





    </div>