<div class="content-wrapper">
       
    <div class="page-header">
  <h3 class="page-title"> Dashboard </h3>
    
    </div>
    <div class="row dashboardcard">
      <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Telecommunication Completed<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">120</h2>
          </div>
        </div>
      </div>
   <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Today Telecommunication <i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">12</h2>
          </div>
        </div>
      </div>
  <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-dark text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Today Telecommunication Hours<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">00 Hr 36 Min</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-success text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Total Telecommunication Hours<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">67 Hr 36 Min</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-warning text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Avg Telecommunication Hours<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">34 Hr 12 Min</h2>
         
          </div>
        </div>
      </div>
         <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-danger text-white">
          <div class="card-body">
          
            <h4 class="font-weight-normal mb-3 d-flex align-items-center">Today's Avg Telecommunication Hours<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </h4>
            <h2 class="mb-1">34 Hr 12 Min</h2>
         
          </div>
        </div>
      </div>
    </div>

 
  </div>