<div id="{{ varlogin }}" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

  <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

    <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
      <a href="javascript:void(0);" style="cursor:default;"><img src="assets/images/logos/basf-logo_new.png"></a>
    </div>
    <div class="clearfix"></div>

    <div class="login_footer">
      <div class="version">
        <strong>{{varVersion}}</strong>
      </div>
      <div class="login_footer_logo">
        <span>Ⓒ
          <a href="#">
            <img width="80px" src="assets/images/ecubix-ECP-Logo_1.png" alt="">
          </a>
        </span>
      </div>
    </div>

  </div>
  <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
    <div id="login-form">
      <div class="logo" fxHide.gt-xs>
        <img src="assets/images/logos/basf-logo_new.png">
      </div>
      <div id="forgot-password-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

          <div class="title">RESET YOUR PASSWORD</div>

          <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate *ngIf="!ShowMessagePart">

            <mat-form-field *ngIf="resetManual">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">
              <mat-error *ngIf="resetPasswordForm.get('password').hasError('minlength')">
                Minimum 8 char required
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" placeholder="Password (Confirm)" formControlName="passwordConfirm">
              <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                Password confirmation is required
              </mat-error>
              <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                Passwords must match
              </mat-error>
            </mat-form-field>

            <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid"
              (click)="ResetPassword()">
              RESET MY PASSWORD
            </button>
          </form>
          <div *ngIf="ShowMessagePart" [ngClass]="SetMessagePartClass">
            <p><b>{{varTitle}}</b></p>
            <p>{{varMessage}}</p>
            <a class="link" [routerLink]="'/pages/auth/forgot-password'" *ngIf="ShowFogotPasswordLink">Go back to forget password</a>
          </div>
          <div class="login" fxLayout="row" fxLayoutAlign="center center">
            <a class="link" [routerLink]="'/pages/auth/login-2'">Go back to login</a>
          </div>
        </div>

        <div class="login_footer mobile_footer">
          <div class="version">
            <strong>{{varVersion}}</strong>
          </div>
          <div class="login_footer_logo">
            <span>Ⓒ
              <a href="#">
                <img width="80px" src="assets/images/ecubix-ECP-Logo_1.png" alt="">
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>