.mat-radio-button {
    margin: 5px;
  }
  .radio-column-type {
    display: inline-flex;
    flex-direction: column;
  }
  .mat-raised-button{
    margin: 5px;
  }
  .divider-bottom{ 
    border-bottom:solid 1px #ddd;     
    margin-bottom: 15px;
  }
